<optinomic-page title="{{patient_full}}" editmode="{{edit_mode}}">


    <div class="page_container">

        <div class="g--half">
            <p>{{patient_full}}
                </br>{{patient.address1}}
                </br>{{patient.country}} - {{patient.zipCode}} {{patient.city}}
                </br>
                <small>
                    {{patient.phoneHome}} | {{patient.phoneMobile}} |
                    <a href="mailto:{{patient.email}}">{{patient.email}}</a>
                </small>
            </p>
        </div>

        <div class="g--half g--last">
            <p>
                </br>
                </br>Eintritt: 21.5.1973  |  21.Tag
                </br>
                <small>
                    Krankenkasse: Swica | 234.34.12345
                </small>
            </p>
        </div>




        <div class="g--half">
            <h2>Standortgespräch</h2>

            <div class="toc">
                <p class="toc__title">Inhaltsverzeichnis</p>
                <ol class="toc__list list-anchor" id="toc">
                    <li ng-repeat="module in factory_data.modules_array">
                        <a href="#ignore-click">{{ module.name }}</a>
                    </li>
                </ol>
            </div>
        </div>

    </div>



    <div class="g-medium--full g-wide--full">


        <optinomic-module module="{{factory_data.modules_array[0]}}" pageeditmode="{{edit_mode}}">

            <img src="/images/placeholder/isk.png">
            <!-- partial: page_patient_details.html -->
            <div>
                <h4>{{patient_full}} - WebStarterKit</h4>
                <div class="code-sample">
                    <a href="http://developers.google.com/web/starter-kit" class="cta--primary">Get Started</a>
                    <br>
                    <a href="styleguide/index.html" class="cta--primary">Style Guide</a>
                </div>
            </div>


        </optinomic-module>



        <optinomic-module ng-repeat="module in factory_data.modules_array" module="{{module}}" pageeditmode="{{edit_mode}}">


            <img src="/images/placeholder/isk.png">
            <!-- partial: page_patient_details.html -->
            <div>
                <h4>{{patient_full}} - WebStarterKit</h4>
                <div class="code-sample">
                    <a href="http://developers.google.com/web/starter-kit" class="cta--primary">Get Started</a>
                    <br>
                    <a href="styleguide/index.html" class="cta--primary">Style Guide</a>
                </div>
            </div>


        </optinomic-module>
    </div>

</optinomic-page>