<optinomic-page title="Herr Ottiger Beat">

    <!-- partial: page_patient_details.html -->
    <div class="container">
        <h1>Optinomic</h1>
        <div>
            <h4>WebStarterKit - Welcome {{factory_data.patients[0].firstName}} / {{patient_full}}</h4>
            <div class="code-sample">
                <a href="http://developers.google.com/web/starter-kit" class="cta--primary">Get Started</a>
                <br>
                <a href="styleguide/index.html" class="cta--primary">Style Guide</a>
            </div>
        </div>
        <div>
            <h2>Data
                <small>Polymer - elements / AngularJS Factory-Data:</small>
            </h2>

            <div ng-repeat="message in factory_data.messages_array">
                <paper-button label="{{message.name}}" raisedButton></paper-button>
            </div>
        </div>
    </div>
    <!-- partial: page_patient_details.html -->
    <div class="container">
        <h1>Optinomic</h1>
        <div>
            <h4>WebStarterKit - Welcome {{factory_data.patients[0].firstName}} / {{patient_full}}</h4>
            <div class="code-sample">
                <a href="http://developers.google.com/web/starter-kit" class="cta--primary">Get Started</a>
                <br>
                <a href="styleguide/index.html" class="cta--primary">Style Guide</a>
            </div>
        </div>
        <div>
            <h2>Data
                <small>Polymer - elements / AngularJS Factory-Data:</small>
            </h2>

            <div ng-repeat="message in factory_data.messages_array">
                <paper-button label="{{message.name}}" raisedButton></paper-button>
            </div>
        </div>
    </div>

</optinomic-page>