<optinomic-page title="{{patient_full}}" editmode="{{edit_mode}}">





    <div class="page_container">
        <div class="g--half">
            <p class="base">
                {{patient_full}}
                </br>{{patient.address1}}
                </br>{{patient.country}} - {{patient.zipCode}} {{patient.city}}
            </p>
        </div>

        <div class="g--half g--last">
            <p class="base">
                </br><a href="#" scroll-to="page_end">Click me!</a><a href="#chapter4">chapter4</a> <a ng-href="\#page_end">Go to inpage section</a> <a href="" ng-click="scrollTo('page_end')">Scroll to #foo</a>
                </br>Eintritt: 21.5.1973 | 21.Tag
            </p>
        </div>
    </div>






    <div class="g-medium--full g-wide--full">

        <optinomic-header header="Arztbericht" patient="{{patient}}"></optinomic-header>

        <div class="g--half g--last">

            <div class="page_container toc">
                <p class="toc__title">Inhaltsverzeichnis</p>
                <ol class="toc__list list-anchor" id="toc">
                    <li ng-repeat="module in factory_data.modules_array">
                        <a a-href="#{{ module.id }}" ng-href="##{{ module.id }}">{{ module.name }}</a>
                    </li>
                </ol>
            </div>
        </div>


        <optinomic-module module="{{factory_data.modules_array[0]}}" pageeditmode="{{edit_mode}}">
            <front>
                <h4>Info: {{patient_full}}</h4>

                <img src="/images/placeholder/isk.png">

            </front>
            <back>
                <h4>Rückseite</h4>

            </back>

        </optinomic-module>

        <div id="page_end">
            <h3>Bazinga</h3>
        </div>

        <a name="chapter4"></a> 

        <optinomic-module ng-repeat="module in factory_data.modules_array" module="{{module}}" pageeditmode="{{edit_mode}}">
            <front>
                <img src="/images/placeholder/isk.png">
                <!-- partial: page_patient_details.html -->
                <div>
                    <h4>{{patient_full}} - WebStarterKit</h4>
                    <div class="code-sample">
                        <a href="http://developers.google.com/web/starter-kit" class="cta--primary">Get Started</a>
                        <br>
                        <a href="styleguide/index.html" class="cta--primary">Style Guide</a>
                    </div>
                </div>
            </front>
            <back>
                <h4>Rückseite</h4>

            </back>
        </optinomic-module>



    </div>

</optinomic-page>